.barBack {
  height: 5px;
  //   width: 50px;
  border-style: solid;
  border-width: thin;
  position: absolute;
}

.bar {
  height: 6px;
  //   width: 40px;
  background-color: chartreuse;
  position: absolute;
}
