.bar {
  height: 6px;
  background-color: chartreuse;
  position: absolute;
}

.barBack {
  height: 5px;
  border-style: solid;
  border-width: thin;
  position: absolute;
}

.barText {
  margin-top: 8px;
  margin-left: 20px;
}
